.footerNav {
    background-color: $main-color;
    font-size:12px;
    font-family: "Biko";
    
    margin: 0 auto;
    text-align: center;
    ul{
        margin:6px;
    }
    li {
        display: inline-block;
        transition: all .3s ease-in;

            &:hover{
                transform: scale(1.02);
            }
    }
    a {
        display: block;
        padding: 6px 6px;
        text-decoration: none;
        color: white;
        font-family: $main-font;
        &:hover{
            color: #bf54a6;
        }
    }

}