main {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.hidden{display:none;}

.hero {
    background: url(../images/hero.jpg) center center no-repeat;
    background-size: cover;
    height: 700px;
}

.mainHeader {
    display:flex;
}