<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>Lotus</title>
</head>
<body>
    <main>
        <!-- <h1>You can do it!</h1>
        <img src="images/smiley.jpeg" alt="smile!"> -->
        <div class="hero">
            <header class="mainHeader">
                <nav class="mainNav">
                    <h2 class="hidden">Main navigation</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="product.html">Products</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </nav>
                <div id="logoCon">
                    <img src="images/logo.png" alt="Logo" width="140px" height="55px">
                </div>
            </header>
            <div class="welcomeCon">
                    <h2 class="hidden">Welcome text</h2>
                    <h3>“Don’t wait for someone to bring you flowers. Plant your own garden and decorate your own soul.”</h3>
                    <h4>– Luther Burbank</h4>
                </div>
        </div>
        <div class="products">

            <section class="freshLotus">
                <img src="images/fresh-lotus.jpg" width="615px" height="470px">
                <h2>Fresh lotus</h2>
                <h3>1$ for 1 lotus flower</h3>
                <p>The stem of the lotus plant is full of minerals and nutrients — such as vitamin C — that are important for your body's daily function. One of these minerals is potassium, which helps regulate blood pressure.</p>
                
            </section>
            <section class="lotusSeed">
                    <img src="images/lotus-seed.jpg">
                    <h2><a href=""></a>Lotus Seed</h2>
                    <h3>10$ per lbs</h3>
                    <p>Lotus Seeds health benefits includes managing diabetes, treating insomnia, slowing down aging process, supporting oral health, and more.</p>
                </section>
        </div>
        
    </main>

    <script src="js/main.js"></script>
</body>
</html>