<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>Lotus</title>
</head>
<body>
    <main>
        
        <div class="hero">
            <header class="mainHeader">
                    <div id="logoCon">
                            <img src="images/logo.png" alt="Logo" width="140px" height="55px">
                        </div>
                <nav class="mainNav">
                    <h2 class="hidden">Main navigation</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </nav>
                
            </header>
            <div class="welcomeCon">
                    <h2 class="hidden">Welcome text</h2>
                    <h3>“Don’t wait for someone to bring you flowers. Plant your own garden and decorate your own soul.”</h3>
                    <h4>– Luther Burbank</h4>
                </div>
        </div>
        <div class="products">

            <section class="freshLotus">
                <img src="images/fresh-lotus1.jpg" alt="Lotus pic">
                <h2><a href="#">Fresh lotus</a></h2>
                <h3>1$ for 1 lotus flower</h3>
                <button class="buyButton">Buy now</button>
                <p>The stem of the lotus plant is full of minerals and nutrients — such as vitamin C — that are important for your body's daily function. One of these minerals is potassium, which helps regulate blood pressure.</p>
                
            </section>
            <section class="lotusSeed">
                    <img src="images/lotus-seed.jpg" alt="lotus seed picture">
                    <h2><a href="#">Lotus Seed</a></h2>
                    <h3>10$ per lbs</h3>
                    <button class="buyButton">Buy now</button>
                    <p>Lotus Seeds health benefits includes managing diabetes, treating insomnia, slowing down aging process, supporting oral health, and more.</p>
                </section>
        </div>

        <footer>
            <nav class="footerNav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Products</a></li>
                     <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            
        </footer>
    </main>

    <script src="js/main.js"></script>
</body>
</html>